/* Import Bootstrap Icon via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

nav li a {
    text-decoration: none;
    color: #F5C6A5;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a:hover {
    color: #FF7777;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    /* background-image: linear-gradient(to right, rgba(8, 214, 35, 0), rgb(31, 1, 27)), url("../images/pixel01.jpg"); */
    /* background-image: url("../images/pixel01.jpg"), linear-gradient(green, yellow); */
    /* z-index: 100; */
    height: 10vh;
    background-size: 100% 100%;
    background-position: center center;

}

.bi-list {
    position: absolute;
    float: left;
    top: 0;
    right: 2vw;
    display: flex;
    font-size: 10vw;
    color: #852747;

}

.toggler {
    display: none;
}

.logo {
    float: left;
    margin-left: 5vw;
    margin-top: 2vh;
    color: #852747;
    font-size: 4vw;
    text-shadow: 5px 3px 3px #FF7777;
    transition: 0.4s;
}

header p {
    color: #F5C6A5;
}

footer {
    /* background-color: wheat; */
    background-color: black;
    width: 100%;
    height: 30vh;
    position: relative;
    box-shadow: 0px 00px 10px white;

}

footer ul {
    position: absolute;
    margin-left: 70%;
    margin-top: 4vh;



}

footer li {
    width: fit-content;
    float: left;
    display: block;
    list-style: none;
    /* border: 2px solid #4f3939; */
    justify-content: center;
    /* background-color: #F5C6A5; */
    background-color: rgb(63, 62, 52);
    transition: 0.4s;
    border-radius: 50%;
}

footer li:hover {
    background-color: #65622a;
    /* border: 5px solid #F5C6A5; */
}

footer img {
    width: 4vw;
    padding: 2vh 2vh;

}

footer .address {
    position: absolute;
    left: 5vw;
    top: 60%;

}

.map {
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
}

.map iframe {
    margin-top: 5vh;
    width: 80%;
}

footer p {
    color: wheat;
}

@media screen and (max-width: 787px) {

    footer ul {
        position: absolute;
        margin-left: 60%;
        margin-top: 4vh;
    
    
    
    }
    footer img {
        width: 10vw;
        padding: 1vh 1vh;
    
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        transition: all 0.8s;
        list-style: none;
        background-color: #852747;
        margin-top: 10vh;
        z-index: 100;
    }

    .toggler:checked~nav ul {
        left: 0;
    }

    nav li {
        padding: 5vh 5vw;
    }

    .arow {
        position: absolute;
        height: 100px;
        width: 100%;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -10%);
        /* border: 10px solid green; */

    }



    .arrow-header {

        display: block;
        width: 4vw;
        height: 4vw;
        border-bottom: 0.5vw solid #F5C6A5;
        border-right: 0.5vw solid #F5C6A5;
        transform: rotate(45deg);
        margin: -4vh auto;

        animation: animate 2s infinite;

    }

    .arrow-header :nth-child(1) {
        animation-delay: -0.2s;
    }

    .arrow-header :nth-child(2) {
        animation-delay: -0.4s;
    }

    .arrow-header :nth-child(3) {
        animation-delay: -0.6s;
    }

    @keyframes animate {
        0% {
            opacity: 0;


        }

        50% {
            opacity: .5;

        }

        100% {
            opacity: 0;


        }
    }
}

@media screen and (min-width: 788px) {
    
    footer ul {
        position: absolute;
        margin-left: 60%;
        margin-top: 4vh;
    
    
    
    }
    footer img {
        width: 10vw;
        padding: 1vh 1vh;
    
    }
    nav ul {
        position: absolute;
        width: 55%;
        height: 10%;

        list-style: none;
        top: 10%;
        right: 0%;
        z-index: 1;

    }

    

    .bi-list {
        display: none;
    }

    nav ul li {
        float: left;
        display: block;
        padding: 1vw;
        font-size: 1.2vw;
        background-color: #A2416B;
        border: 1px solid #852747;
        border-radius: 50%;
        transition: 0.4s;
    }



    nav ul li:hover {
        background-color: #852747;
        color: #FF7777;

    }

    nav ul li:active {
        background-color: peru;
        color: rebeccapurple;
    }

    .arow {
        position: absolute;
        height: 100px;
        width: 100%;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 20%);
        /* border: 10px solid green; */

    }

    .arow span {

        display: block;
        width: 2rem;
        height: 2rem;
        border-bottom: 0.3vw solid #F5C6A5;
        border-right: 0.3vw solid #F5C6A5;
        transform: rotate(45deg);
        margin: -3rem auto;

        animation: animate 2s infinite;

    }

    .arow span :nth-child(1) {
        animation-delay: -0.2s;

    }

    .arow span :nth-child(2) {
        animation-delay: -0.4s;
    }

    .arow span :nth-child(3) {
        animation-delay: -0.6s;
    }

    @keyframes animate {
        0% {
            opacity: 0;

        }

        50% {
            opacity: .5;

        }

        100% {
            opacity: 0;


        }
    }
}